body{
    font-family: 'Bree Serif', serif;
}
h1
{
    font-size: 45px;
}
.org
{
    color: orange;
}
.cflex{
    display:flex;
    margin: 100px;
    ;
}
.half{
    width: 50%;
    padding-left : 5%;
    text-align: justify;
}
,.half image{
    width: 100%;
    
}

.link
{
    text-decoration: none;
    background-image: linear-gradient(rgb(240, 38, 72),rgb(238, 96, 233)); 
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}
    
img
{
    padding-top: 29%;
    height: 270px;
    width: 500px;
    border-radius: 10px 10px;
}
.tnd
{
    padding-top: 50px;
    height: 350px;
    width: 350px;
}
.my
{
    color: tomato;
}
.nd{
    padding-top: 30px;
    padding-left: 100px;
    height: 300px;
    width: 285px;
}
.newlink{
    text-decoration: none;
    background-image: linear-gradient(rgb(62, 243, 213),green);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}
.xx{
    padding-left: 150px;
}

.bhalf{
    width: 40%;
    text-align: justify;
    margin-left:5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 30px gray;
    border-left: 7px solid;
    border-image: linear-gradient(rgb(83, 243, 182),blue);
    border-image-slice:1;
}
.ex
{

}
#web-ex
{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(243, 160, 83),rgb(255, 0, 34));
    border-image-slice:1;
}

footer p{
    text-align: center;
}


